*{
    margin: 0px;
    padding: 0px;
}

header,
section,
footer,
aside,
nav,
article,
figure,
figcaption,
hgroup{
    display: block;
}

body{
    background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  );
    
}

h1{
    font: bold 20px verdana, sans-serif;
}

h2{
    font: bold 14px verdana, sans-serif;
}
/*
#agrupar{
    width: 95%;
    margin: 15px;
    text-align: left;
    box-sizing: border-box;
    border: 2px solid #ffffff;
}*/
iframe{
    display: block;
    margin: 0px;
}
#cabecera{
    background: #fffbb9;
    border: 1px solid #999999;
    padding: 20px;
}

#menu{
    background: #cccccc;
    padding: 5px 15px;
}

#menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
}
/*
#seccion{
    float: left;
    margin: 10px;
}*/
/*
#columna{
    float: right;
    margin: 10px;
    padding: 20px;
    background: #cccccc;
}*/

#columna{
    background: #cccccc;
}



#pie{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #ffffff;
}

article{
    background: url("../img/Fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #999999;
    padding: 20px;
}

article footer{
    text-align: right;
}

figcaption{
    font: italic 14px verdana, sans-serif;
}

[class*="col-"] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

iframe{
    display: block;
    margin: 0px auto;
}
#foto{
    width: 90%;
}
/*
.col-l-1 {width: 8.33%;}
.col-l-2 {width: 16.66%;}
.col-l-3 {width: 25%;}
.col-l-4 {width: 33.33%;}
.col-l-5 {width: 41.66%;}
.col-l-6 {width: 50%;}
.col-l-7 {width: 58.33%;}
.col-l-8 {width: 66.66%;}
.col-l-9 {width: 75%;}
.col-l-10 {width: 83.33%;}
.col-l-11 {width: 91.66%;}
.col-l-12 {width: 100%;}
*/


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
  }



